

services:

  # ================== Databases ==================
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: its_db
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - its-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # ================== DB GUI ==================
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres
    networks:
      - its-net

  # ================== ITS Application ==================
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "4038:4038"
    expose:
      - "5000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - its-net

  its-frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    container_name: frontend
    restart: always
    env_file:
      - ./frontend/.env
    ports:
      - "4037:4037"
    depends_on:
      - backend
    networks:
      - its-net

  # ================== Monitoring Stack ==================
  

  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    restart: always
    ports:
      - "9100:9100"
    networks:
      - monitor-net


# ================== Networks ==================
networks:
  its-net:
  monitor-net:

# ================== Volumes ==================
volumes:
  postgres_data:


